* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-image: url(../images/body-bg.jpg);
}
header {
    position: relative;
    height: 100vh;
    background: #082465;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
}
.navbar1.sticky {
    width: 100%;
    background-color: #05102b;
    position: fixed;
    top: 0;
    transition: background-color 0.7s ease-in-out;
}

.navbar1 li {
    list-style: none;
    font-size: 1.2rem;
}
.navbar1 a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.navbar1 {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem;
}

.nav-menu1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10px;
}

.nav-logo {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.nav-logo img {
    width: 75px;
    height: 75px;
    margin-left: 10px;
}

.nav-link1 {
    transition: 0.3s ease;
    cursor: pointer;
    color: #2d2c2c;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}
.nav-link1:hover::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fdc302;
    animation-name: line;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    border-radius: 5px;
    animation-timing-function: ease;
}

@keyframes line {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
.hamburger {
    display: none;
}
.line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
header.sticky .nav-logo,
header.sticky .nav-link1 {
    color: #082465;
}
nav.navbar1.sticky::before {
    background: none;
}

.navbar1::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 29%;
    left: 0%;
    background: #fdc302;
    border-bottom-right-radius: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    z-index: -1;
}
header::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 15%;
    right: 0;
    background: #fdc302;
    border-bottom-left-radius: 100%;
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    z-index: -1;
}

/* ###################################     hero section ###################################*/
.hero_section {
    width: 100%;
    height: 88vh;
    padding-bottom: 50px;
}
.hero-container {
    display: flex;
    width: 100%;
    height:100%;
    padding-bottom: 50px;
}

.hero_detail-box {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 100px;
    /* padding: 50px 0px; */
   
}

.hero_detail-box h3 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #aec0ea;
    line-height: 2rem;
}
.hero_detail-box h1 {
    text-transform: uppercase;
    font-size: 35px;
    color: #ffc400;
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #bea964;
    line-height: 3.5rem;
}

.hero_detail-box p {
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 1.5rem;
}
.hero_btn-continer {
    text-align: center;
    margin:  0px 10px;

}
.hero_btn-continer a {
    text-decoration: none;
    font-size: 16px;
    color: #ffff;
    text-transform: uppercase;
    background-color: #ffc400;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    
}
.hero_btn-continer a:hover {
    background-color: #ebd796;
    color: #082465;
}

.hero_img-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hero_img-container::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 100%;
    right: 0;
    top: 0;
    background: url(../images/bg1.png);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    z-index: -1;
}

.img-con img {
    height: 350px;
    width: 300px;
    border-radius: 50%;
    margin-top: 20px;
    overflow: hidden;
    z-index: 999;
    padding-bottom: 25px;
}
.person-info {
    margin-bottom: 150px;
    left: 64%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border-radius: 5px;
    line-height: 1.2rem;
    z-index: -1;
}

.person-info p {
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-align: center;
}

/* end hero section */

/* ###############################  whatsapp  ####################################################### */
.whatsapp {
    width: 62px;
    height: 60px;
    background-color: #43e762;
    position: fixed;
    left: 92%;
    bottom: 5%;
    border-radius: 50px;
    z-index: 999;
}

.icon {
    font-size: 50px;
    position: relative;
    left: 9%;
    padding: 5px;
    color: white;
}

/* ################################### about section ###############################################*/
.about {
    width: 100%;
    background-color: transparent;
    /* margin-top: 70px; */
    padding-bottom: 20px;
}
.ctr .title {
    text-align: center;
    font-size: 2rem;
    color: #082465;
    font-weight: bold;
    padding-top: 70px;
}
.ctr .title:hover {
    transition: all;
    transition-duration: 3s;
    transition-timing-function: ease;
    color: #fdc302;
}
.ctr p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 1.5rem;
}
.spimage img {
    display: block;
    background: transparent;
    width: 365px;
    margin-left: auto;
    margin-right: auto;
    height: 365px;
}
.btnn {
    background: #fdc302;
    color: white;
    opacity: 1;
    text-decoration: none;
    border-radius: 6px;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.btnn:hover {
    color: #fff;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
    color: #fff;
    transform: translateY(-7px);
}

/* ############################## teacher section ######################################################*/

/* teacher container */

.justify-content-sbet {
    justify-content: space-between;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-content-center {
    justify-content: center;
}
.container .main-heading {
    text-align: center;
    font-size: 2rem;
    color: #082465;
    font-weight: bold;
    padding-top: 70px;
}

.container .main-heading:hover {
    transition: all;
    transition-duration: 3s;
    transition-timing-function: ease;
    color: #fdc302;
}
.card-container {
    margin-top: 5vh;
}
.teacher_section .cards {
    background-color: transparent;
    margin-bottom: 1vh;
}
.teacher_section .cards img {
    height: 50vh;
    width: 15vw;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    box-shadow: 0px 5px 10px -5px rgb(0 0 0 / 70%);
}
.sp-1 {
    font-size: large;
}

/* end teacher container */

/***********Fee section ************************/
.fee {
    overflow-x: hidden;
    font-size: 62.5%;
    padding: 2rem 9%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
.main-heading {
    position: relative;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
}
.outercontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 5%;
}
.content {
    padding: 5px;
    width: 100%;
    height: 40vh;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 2px 2px rgb(201, 199, 199);
    border-radius: 10px;
    color: #091540;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fee-text h5 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
}

.fee-text .cut-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: #48494a;
    margin-left: 1rem;
    text-decoration: line-through;
}

.btn {
    background: #491bd5;
    color: white;
    opacity: 1;
    text-decoration: none;
    border-radius: 100px;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.btn1 {
    margin-left: 0%;
    margin-top: 7px;
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: #491bd5;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

/* ################################# contact section ############################################333#*/
.contact_section {
    padding-top: 70px;
}
.contect-con {
    width: 85%;
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 0 0 16px rgb(0 0 0 / 10%);
}
.container h2 {
    text-align: center;
    font-size: 30px;
}
.left-con {
    width: 50%;
    height: 70vh;
    background-color: #f8f7f9;
}

.right-con {
    width: 55%;
    height: 40vh;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    text-align: justify;
    color: #f8f7f9;
}

.right-con h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    color: #091540;
    text-align: center;
}

.right-con p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #091540;
}
.cont {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.map {
    width: 75%;
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid {
    text-align: center;
    margin-top: 70px;
}

/* ############################ footer section    ###################################################*/

/* footer section*/

.footer_section {
    background-color: #05102b;
    font-family: "Poppins", sans-serif;
    height: 10vh;
    width: 100%;
}

.footer_section p {
    color: #fdc302;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer_section a {
    text-decoration: none;
    color: #fdc302;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}

.footer-img {
    width: 50px;
    margin-top: 10px;
}
/* end footer section*/

/* ################################### media quries  ################################################*/

@media (max-width: 769px) {
    html {
        width: 100%;
        font-size: 50%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu1 {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #082465;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
    }
    .nav-menu1 .nav-item1 {
        margin: 8px 0;
        width: 40%;
        height: 40px;
        line-height: -5px;
        padding-top: 7px;
    }
    .nav-menu1 .nav-item1 .nav-link1 {
        font-size: 2rem;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
    }
    .nav-menu1 .nav-item1 .nav-link1:hover::after {
        display: block;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fdc302;
        animation-name: line;
        animation-iteration-count: 1;
        animation-duration: 0.5s;
        border-radius: 5px;
        animation-timing-function: ease;
    }

    @keyframes line {
        from {
            width: 0%;
        }
        to {
            width: 100%;
        }
    }
    .nav-menu1.active {
        left: 0;
    }

    .hero_img-container::after,
    .navbar1::before,
    header::before {
        display: none;
    }
    .hero_section {
        font-size: 50%;
        width: 100%;
        z-index: -1;
    }
    .hero-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hero_detail-box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 5px;
        
    }
    .hero_detail-box h3{
        line-height: 4.5rem;
    }
    .hero_detail-box h1 {
        font-size: 40px;
        line-height: 5.5rem;
    }
    .hero_detail-box p{
        line-height: 3rem;
    }
    .hero_img-container {
        display: none;
    }
    .whatsapp {
        width: 50px;
        height: 50px;
        margin-left: -40px;
    }
    .icon {
        font-size: 40px;
        position: relative;
        left: 9%;
        padding: 5px;
        color: white;
    }
}

/* ################################ about section media query ##########################*/
@media (max-width: 500px) {
    .ctr p {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 0.8rem;
        margin-bottom: 1rem;
        text-align: justify;
    }
    .ctr .title {
        font-size: 1.5rem;
    }
}
@media (max-width: 400px) {
    .spimage img {
        width: 200px;
        height: 200px;
    }
}

/* ################################ teacher section  ##########################*/

@media (max-width: 992px) {
    .teacher_section .card-title {
        text-align: center;
        color: #2d2c2c;
        font-weight: 500;
        font-size: 15px;
    }
    .teacher_section .cards .img {
        display: flex;
        justify-content: center;
    }
    .sp-1 {
        justify-content: center;
    }
    .sp-1 .cards {
        margin: 10px 10px 0;
    }
}
@media (max-width: 769px) {
    .layout_padding {
        padding: 70px 10px 70px 10px;
        margin-top: 6rem;
    }
    .sp-1 .cards img {
        width: 30vw;
    }
    .sp-1 span {
        font-size: medium;
    }
}
@media (max-width: 485px) {
    .sp-1 .cards img {
        width: 60vw;
    }
}
@media (max-width: 414px) {
    .container .main-heading {
        color: #082465;
        font-weight: bold;
        text-align: center;
        margin-top: 3rem;
    }
}

/* ****************fee media query ****************** */
@media (max-width: 1200px) {
    .outercontent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5%;
        row-gap: 5%;
    }
    #cbse {
        margin-top: 20%;
        padding-bottom: 0%;
    }
}

@media (max-width: 768px) {
    .outercontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5%;
        row-gap: 5%;
    }
    #cbse {
        margin-top: 50%;
    }
}
@media (max-width: 616px) {
    .content {
        height: 45vh;
    }
    #cbse {
        margin-top: 50%;
    }
}
@media (max-width: 500px) {
    .outercontent {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    .content {
        margin-bottom: 5%;
    }
    #cbse {
        margin-top: 5%;
    }
}

/* ################################ contact us section  ##########################*/

@media (max-width: 1025px) {
    .contect-con {
        margin: auto;
        height: 88vh;
        background-color: white;

    }
    .left-con {
        display: block;
        width: 100%;
        height: 88vh;
    }
    .left-con img {
         
        width: 100%;
        height: 40vh;
    }
    .right-con {
        display: block;
        width: 100%;
        height: 88vh;
        border: 1px solid rgb(201, 199, 199);
        box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    }
}
@media (max-width: 769px) {
    .contect-con {
        margin: auto;
        height: 82vh;
        background-color: white;

    }
    .left-con {
        display: block;
        width: 100%;
        height: 82vh;
    }
    .main-heading {
        padding: 20px;
    }
    .left-con img {
        width: 100%;
        height: 40vh;
    }
    .right-con {
        display: block;
        width: 100%;
        height: 82vh;
        border: 1px solid rgb(201, 199, 199);
        box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    }
    .right-con h1 {
        font-size: 30px;
        letter-spacing: 1px;
        color: #082465;
    }

    .right-con p {
        letter-spacing: 1px;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        line-height: 1.5;
        color: #082465;
        text-align: left;
        margin-left:6px;
    }
   
}

@media (max-width: 600px) {
    .contect-con {
        margin: auto;
        height: 50vh;
        background-color: white;
    }

    .left-con {
        display: block;
        width: 100%;
        height: 50vh;
    }

    .left-con img {
        width: 100%;
        height: 40vh;
    }
    .right-con {
        display: block;
        width: 100%;
        height: 50vh;
        padding: 10px;
        padding-top: 30px;
    }
    .right-con h1 {
        font-size: 25px;
        letter-spacing: 1px;
        color: #082465;
    }
    .whatsapp {
        font-size: 35px;
    }
    .right-con p {
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        line-height: 1.5;
        color: #082465;
    }

    .cont {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1px;
    }
    .map {
        width: 75%;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 576px) {
    .contect-con {
        display: block;
        width: 100%;
        height: 100vh;
    }
    .contact_section {
        margin: 0px 20px 0px 20px;
    }
    .left-con {
        display: block;
        width: 100%;
        height: 55vh;
        background-color: rgb(246, 244, 244);
    }

    .left-con img {
        width: 100%;
        height: 55vh;
    }
    .right-con {
        display: block;
        width: 100%;
        height: 65vh;
        padding: 10px;
        background-color: white;
    }
    .right-con h1 {
        font-size: 25px;
    }

    .right-con p {
        font-size: 20px;
    }
    .map {
        width: 75%;
        height: 40vh;
        margin-left: auto;
        margin-right: auto;
    }
    .admission_section{
        margin-top: 40px;
    }
}
@media (max-width: 320px) {
    .admission_section{
        margin-top: 130px;
    }
}
@media (max-width:376px) {
    .admission_section{
        margin-top: 140px;
    }
}
@media (max-width:426px) {
    .admission_section{
        margin-top: 180px;
    }
}
@media (max-width: 500px) {
    .ctr .title {
        font-size: 3rem;
    }
}
